lab05/lab05/src/main/resources/concatenation.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile"
    targetNamespace="http://www.example.org/NewWSDLFile/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/NewWSDLFile/">
            <xsd:element name="ConcatOperation">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="string1" type="xsd:string" />
                        <xsd:element name="string2" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="concatResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="concatenated" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ConcatOperationRequest">
        <wsdl:part element="tns:ConcatOperation" name="parameters" />
    </wsdl:message>
    <wsdl:message name="ConcatOperationResponse">
        <wsdl:part element="tns:concatResponse" name="parameters" />
    </wsdl:message>
    <wsdl:portType name="concatService">
        <wsdl:operation name="ConcatOperation">
            <wsdl:input message="tns:ConcatOperationRequest" />
            <wsdl:output message="tns:ConcatOperationResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NewWSDLFileSOAP" type="tns:concatService">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="ConcatOperation">
            <soap:operation soapAction="http://www.example.org/NewWSDLFile/ConcatOperation" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ConcatWSDL">
        <wsdl:port binding="tns:NewWSDLFileSOAP" name="ConcatSOAP">
            <soap:address location="http://localhost:8081/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
