lab08/DivisionSecurityStandalone/src/main/resources/SecureService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
	xmlns:wsp="http://www.w3.org/2006/07/ws-policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    name="NewWSDLFile"
    targetNamespace="http://www.example.org/NewWSDLFile/">
    <wsp:Policy wsu:Id="p1">
        <sp:AsymmetricBinding>
            <wsp:Policy>
                <sp:InitiatorToken>
                    <wsp:Policy>
                        <sp:X509Token
                            sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssX509V3Token10 />
                            </wsp:Policy>
                        </sp:X509Token>
                    </wsp:Policy>
                </sp:InitiatorToken>
                <sp:RecipientToken>
                    <wsp:Policy>
                        <sp:X509Token
                            sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                            <wsp:Policy>
                                <sp:WssX509V3Token10 />
                            </wsp:Policy>
                        </sp:X509Token>
                    </wsp:Policy>
                </sp:RecipientToken>
                <sp:AlgorithmSuite>
                    <wsp:Policy>
                        <sp:TripleDesRsa15 />
                    </wsp:Policy>
                </sp:AlgorithmSuite>
            </wsp:Policy>
        </sp:AsymmetricBinding>
        <sp:Wss10>
            <wsp:Policy>
                <sp:MustSupportRefEmbeddedToken />
                <sp:MustSupportRefIssuerSerial />
            </wsp:Policy>
        </sp:Wss10>
        <sp:SignedParts>
            <sp:Body />
        </sp:SignedParts>
        <sp:EncryptedElements>
            <sp:XPath>
                //*[local-name()='Signature']
            </sp:XPath>
        </sp:EncryptedElements>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/NewWSDLFile/">
            <xsd:element name="concat">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="string1" type="xsd:string" />
                        <xsd:element name="string2" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="concatResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="concatenated" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ConcatOperationRequest">
        <wsdl:part element="tns:concat" name="parameters" />
    </wsdl:message>
    <wsdl:message name="ConcatOperationResponse">
        <wsdl:part element="tns:concatResponse" name="parameters" />
    </wsdl:message>
    <wsdl:portType name="concatService">
        <wsdl:operation name="ConcatOperation">
            <wsdl:input message="tns:ConcatOperationRequest" />
            <wsdl:output message="tns:ConcatOperationResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NewWSDLFileSOAP" type="tns:concatService">
    <wsp:PolicyReference URI="#p1" wsdl:required="true" />
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="ConcatOperation">
            <soap:operation soapAction="http://www.example.org/NewWSDLFile/ConcatOperation" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ConcatWSDL">
        <wsdl:port binding="tns:NewWSDLFileSOAP" name="ConcatSOAP">
            <soap:address location="http://localhost:8081/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
