lab06/lab06division/src/main/resources/division.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://testing/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DivisionServiceService" targetNamespace="http://testing/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://testing/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://testing/">
      <xs:element name="divide" type="tns:divide"/>
      <xs:element name="divideResponse" type="tns:divideResponse"/>
      <xs:complexType name="divide">
        <xs:sequence>
          <xs:element name="arg0" type="xs:float"/>
          <xs:element name="arg1" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="divideResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DivisionByZeroException">
        <xs:sequence/>
      </xs:complexType>
      <xs:element name="DivisionByZeroException" type="tns:DivisionByZeroException"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="DivisionByZeroException">
    <wsdl:part element="tns:DivisionByZeroException" name="DivisionByZeroException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="divideResponse">
    <wsdl:part element="tns:divideResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="divide">
    <wsdl:part element="tns:divide" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DivisionServiceIface">
    <wsdl:operation name="divide">
      <wsdl:input message="tns:divide" name="divide">
    </wsdl:input>
      <wsdl:output message="tns:divideResponse" name="divideResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DivisionByZeroException" name="DivisionByZeroException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DivisionServiceServiceSoapBinding" type="tns:DivisionServiceIface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="divide">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="divide">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="divideResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DivisionByZeroException">
        <soap:fault name="DivisionByZeroException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DivisionServiceService">
    <wsdl:port binding="tns:DivisionServiceServiceSoapBinding" name="DivisionServicePort">
      <soap:address location="http://localhost:8080/cxf_spring/DivisionService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
