lab08/division.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile"
targetNamespace="http://divisionsecuritydemo.tomy.edu/">
    <wsdl:types>
        <xs:schema elementFormDefault="unqualified" targetNamespace="http://divisionsecuritydemo.tomy.edu/" version="1.0">
            <xs:element name="divide" type="tns:divide"/>
            <xs:element name="divideResponse" type="tns:divideResponse"/>
            <xs:complexType name="divide">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                    <xs:element name="arg1" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="divideResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="divideResponse">
        <wsdl:part element="tns:divideResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="divide">
        <wsdl:part element="tns:divide" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DivisionServiceIface">
        <wsdl:operation name="divide">
            <wsdl:input message="tns:divide" name="divide">
            </wsdl:input>
            <wsdl:output message="tns:divideResponse" name="divideResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DivisionServiceServiceSoapBinding" type="tns:DivisionServiceIface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="divide">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="divide">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="divideResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DivisionServiceService">
        <wsdl:port binding="tns:DivisionServiceServiceSoapBinding" name="DivisionServicePort">
            <soap:address location="http://localhost:8081/DivisionSecurityDemo/DivisionService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>

